<nav class=" border-gray-200 fixed w-full top-0 left-0 bg-zinc-300">
    <div class="max-w-screen-xl flex flex-wrap items-center mx-auto p-4">
      <img src="../../assets/panchami comforts logo_page-0001.jpg" class="h-20" alt="Panchami Logo" />
      <span class="text-3xl font-serif  dark:text-black">Panchami Comforts</span>
    </div>
  </nav>
  
  <div class="content text-3xl text-center mt-48">
    <h1 style="color: green; ">
      Sorry For the inconvenience Website will Available Soon
    </h1>
    <!-- Booking -->
    <div class="booking-2 mt-16">
      <h1 class="text-gray-900  text-4xl text-center font-mono p-2">Call / WhatsApp For Reservation</h1>
      <div class="flex mb-4 mt-10 text-center">
        <div class="w-1/2 ">
          <a href="tel:+919901744166"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">Call
            Us Now</a>
        </div>
        <div class="w-1/2 "><a href="https://api.whatsapp.com/send?phone=919901744166"
            class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">WhatsApp</a>
        </div>
      </div>
    </div>
    <!-- Booking End -->
  
      <!-- Details -->
      <div class="mb-4 mt-16 ">
        <div class="text-center">
          <h3 class="text-3xl">Panchami Comforts</h3>
          <p class="mt-5">No 1, Back Gate, GLOBAL VILLAGE TECH PARK,<br> Balaji Tower, Mylasandra, BEML Layout 7th
            Stage,
            Bengaluru, Karnataka 560059</p>
          <p>Ph: 9901744166</p>
          <p>Ph: 9341300698</p>
          <p>E-mail: panchamicomforts&#64;gmail.com</p>
        </div>
      </div>
      <!-- Details End -->
  
  </div>
